

.light-logo ,
.blue-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.light-logo svg  {
    width: 106px;
    height: 57px;
    max-width: 100%;

}
   
 .light-logo svg path {
    fill: var(--white);

}

.blue-logo svg {
    width: 439px;
    height: 103px;
    max-width: 100%;
}


.blue-logo svg path{
   
    fill: var(--main-blue);
  
}

