.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    width: 55px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08) ;
    transition: all 0.3s ;
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
}

.icon-box:hover{
    box-shadow: 10px 0px 10px 0 rgba(0, 0, 0, 0.08) ;

}
