
body {
    background: linear-gradient(134deg, #F8F8F8 0%, #FFF 100%);
    padding-bottom: 5%;
    overflow-x: hidden;
    position: relative;

}
.big-sec{
    height: 700px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 670px;
    left: 10px;
    padding-top: 3rem;
    width: 5%;
   
}

.centerd-icons{
   
  
    position: relative;
    margin-left: 0.3rem;
    width: 5%;
  
}

.centerd-icons svg {
    margin-bottom: 10px;
}
 .log-out {
   
    cursor: pointer;
    width: 5%;
   

}


.dark-light{
    border-radius: 60px;
background: #C1C1C1;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 5px;
width: 40px;
position: relative;
margin-left: 0.3rem;
padding: 17px 3px;

}

.dark-light div {
    cursor: pointer;
}


.header{
    display: flex;
    align-items: center;
    gap: 1rem;
   float: right;
   margin: 2.5rem;
   margin-top: 0.8rem;
  

}

.img {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #f0f0f0;
    overflow: hidden;
   
   
}

.side-border{
position: absolute;
margin-left: 4rem;
bottom: 70px;
width: 9px;
height: 580px;
border-radius: 38px;
background: #FFF;
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.content{
   
    position: absolute;
    bottom: 0;
    top: 3rem;
   margin-left: 10rem;
   margin-right: auto;
  

   
}

@media (max-width : 1200px) {
    .content{
        width: 75%;
    }
    
}

@media (min-width : 1200px) {
    .content{
        width: 85%;
    }
   
    
}
    

.top-title{

    margin-bottom: 1.5rem;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}

.last-played-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
   
}




.abs-img img {
    width: 100%;
    height: 100%;
   
   
}




.abs-img{
    position: relative;
    max-width: 500px;
    height: auto;
    
}

.over-img{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    z-index: 1;
    border-radius: 0px 0px 45px 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(231.00% 135.80% at 0.90% 2.98%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.over-img-p{

    position: absolute;
    top: 10px;
    margin-left: 10rem;
    z-index: 1;
}


.img-over-img{

    width: 100px;
    height: 100px;
    position: absolute;
    margin-right: auto;
    top: 0px;
    z-index: 1;
    right: 0px;
    margin-right: 10px;

}

.img-over-img1{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -20px;
    z-index: 0;
    right: -30px;
    margin-right: 10px;
    filter: drop-shadow(0px 0px 13.5px #32FB00) drop-shadow(0px 0px 27px #32FB00) drop-shadow(0px 0px 94.5px #32FB00)  ;
    -webkit-filter: drop-shadow(0px 0px 13.5px #32FB00) drop-shadow(0px 0px 27px #32FB00) drop-shadow(0px 0px 94.5px #32FB00)  ;
}


.content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}


.content-row-sp{

    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    width: 1380px;
    height: 300px;
    margin-bottom: 2rem;
    
    
}

.f-p {
    color: #FFF !important;
font-family: Gilroy;
font-size: 21px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}



.s-p{
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}


.over-img-p p {
    color: #FFF;
text-align: right;
font-family: Gilroy;
font-size: 1rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}

.over-img-p p span{
    color: #FFF;
font-family: Gilroy;
font-size: 0.7rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: lowercase;
}